.Apps {
    display: flex;
    font-family: "IBM Plex Sana Thai Looped", sans-serif;
    color: white;
   
    text-shadow: 1px 0px 2px #cc9d56;
  }
  .body_container {
    flex: 1;
  }
  .sideContainerVariants{
    width: 5rem
  }
  .sidebar_container {
    height: 100vh;
    position: sticky;
    top: 0;
    left: "50px";
    min-width: 5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .sidebar {
    display: flex;
    width: 20rem;
    min-width: 5rem;
    height: 100%;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding: 15px;
    margin: 10px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(135, 90, 31, 0.37);
    backdrop-filter: blur(5.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  .lines_icon {
    display: flex;
    align-self: flex-end;
    border-radius: 5px;
  }
  
  .profile {
    display: flex;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 1rem;
  }
  
  .profile  img {
    width: 100%;
    border-radius: 50%;
  }
  
  .groups {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .group {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .group h3 {
    font-size: 1rem;
    margin: 10px 0px 10px 0px;
  }
  