.our_profile_card{
    position: relative;
    width: 230px;
    height: 400px;
    background: linear-gradient(#f45f02,#f45f02 30%,#151515 30%,#151515);
    border-radius: 20px;
    overflow: hidden;
    transform-origin: top;
    box-shadow:  16px 14px 12px rgba(0, 0, 0, 0.24);
    overflow: hidden;
    z-index: 4;
}
.papa{
    position: relative;
    width: 234px;
    height: 404px;
    box-shadow:  16px 14px 12px rgba(0, 0, 0, 0.24);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    border-radius: 20px;
}
@media screen and (max-width: 992px) {
    .our_profile_card{
        width: 300px;
    }
    .papa{
        width: 304px;
    }
  }
  @media screen and (max-width: 1300px) {
    .our_profile_card{
        width: 300px;
    }
    .papa{
        width: 304px;
    }
  }
  /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .our_profile_card{
        width: 330px;
    }
    .papa{
        width: 340px;
    }
  }
.papa::before{
    position: absolute;
    content: "";
    background-image: conic-gradient(
        #ffc400 20deg,
        transparent 120deg
    );
    width: 150%;
    height: 150%;
    animation: rotate 2s linear infinite;
}
.papa::after{
    position: absolute;
    content: "";
    background-image: conic-gradient(
        #ffc400 20deg,
        transparent 120deg
    );
    width: 190px;
    height: 190px;
    background: #101010;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes rotate{
    0%{
        transform:rotate(0deg)
    }
    100%{
        transform:rotate(-360deg)
    }
}

.our_profile_card .imgbx{
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-90%);
width: 70%;
height: 50%;
transition: 0.5s;
z-index: 10;
border-radius: 20px;
overflow: hidden;
}
.our_profile_card  .Our_content{
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,0%);
width: 90%;
height: 60%;
display: flex;
justify-content: center;
align-items: flex-end;
padding-bottom: 30px; 
transition: 0.5s;
}

.our_profile_card  .Our_content .Our_details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-bottom: 50px; 
 }
    .our_profile_card  .Our_content .Our_details span{
        font-size: 0.7em;
        font-weight: 450;
        color: #f45f02;
        margin-top: 5px;
        margin-bottom: 5px;
}
.our_social_icons{
    position: relative;
    display: flex;
    margin-top: 5px;
}
.our_social_icons li{
   margin: 5px;
    list-style: none;
}
.our_social_icons li a{
    margin-left: 5px;
   width: 35px;
   height: 35px;
   display: flex;
   justify-content: center;
   align-items: center;
   background: rgb(63, 62, 62);
   border-radius: 50%;
   font-size: 1.5em;
   color:#fff ;
   transition: 0.5s;
   text-decoration: none;
   padding: 9px;
}
.our_social_icons li a:hover{
    transform: rotate(360deg);
    background: #f45f02;
   cursor: pointer;
 }